{% extends "blog/base.html" %}
{% load static %}
{% block title %}Life in code{% endblock %}
{% block content %}
 {% for post in posts %}
 <div class="block_post">
<!-- <img src="media/{{post.image}}" alt=""> -->
<img class="img_post" src="{% if post.image %}{{ post.image.url }}{% else %}
    {% static "media/no_image.png" %}{% endif %}">
 <h2 class="posts_title">
 <a class="post_titel" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
 </h2>
 {{ post.body|truncatewords:10|linebreaks }}
 <!-- <p class="date post_text">Опубликован: {{ post.publish }} автор: {{ post.author }}</p> -->
 
</div>

 {% endfor %}



<!-- <div class="pagination">
 <span class="step-links">
 {% if page.has_previous %}
 <a href="?page={{page.previous_page_number}}">Previous</a>
 {% endif %}
 <span class="current">
 Page {{ page.number }} of {{ page.paginator.num_pages }}.
 </span>
 {% if page.has_next %}
 <a href="?page={{ page.next_page_number }}">Next</a>
 {% endif %}
 </span>
</div> -->




{% endblock %}
